In [166]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd
import json

mongoimport --type csv -d project3 -c emissions --headerline --drop GCB2022v27_MtCO2_flat.csv

mongoimport --type csv -d project3 -c gdp --headerline --drop gdp.csv

mongoimport --type csv -d project3 -c population --headerline --drop world_population.csv

In [167]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [168]:
mongo.list_database_names()

['admin',
 'autosaurus',
 'classDB',
 'config',
 'epa',
 'fruits_db',
 'local',
 'met',
 'petsitly_marketing',
 'project3',
 'uk_food']

In [169]:
db = mongo["project3"]

In [170]:
db.list_collection_names()

['population', 'gdp', 'emissions']

In [171]:
emissions = db["emissions"]
gdp = db["gdp"]
population = db["population"]

In [172]:
pprint(emissions.find_one())

{'Cement': '',
 'Coal': '',
 'Country': 'Afghanistan',
 'Flaring': '',
 'Gas': '',
 'ISO 3166-1 alpha-3': 'AFG',
 'Oil': '',
 'Other': '',
 'Per Capita': '',
 'Total': 0,
 'Year': 1750,
 '_id': ObjectId('66523c4896b122622ff55ef4')}

In [173]:
emissions_query = {"Year" : {"$gte" : 1922}}
emissions_fields = {"Country", "Year", "Total", "Coal", "Oil", "Gas", "Cement", "Flaring", "Other"}

In [174]:
emissions_df = pd.DataFrame(emissions.find(emissions_query, emissions_fields))

emissions_df.head()

,_id,Country,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other
0,66523c4896b122622ff55fa0,Afghanistan,1922,0,,,,,,
1,66523c4896b122622ff55fa1,Afghanistan,1923,0,,,,,,
2,66523c4896b122622ff55fa2,Afghanistan,1924,0,,,,,,
3,66523c4896b122622ff55fa3,Afghanistan,1925,0,,,,,,
4,66523c4896b122622ff55fa4,Afghanistan,1927,0,,,,,,

In [175]:
del emissions_df["_id"]

emissions_df.head()

       Country  Year Total Coal Oil Gas Cement Flaring Other
0  Afghanistan  1922     0
1  Afghanistan  1923     0
2  Afghanistan  1924     0
3  Afghanistan  1925     0
4  Afghanistan  1927     0

In [176]:
countries = emissions_df["Country"].unique().tolist()

countries
#https://sparkbyexamples.com/python/convert-python-list-to-json/

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antarctica',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bonaire, Saint Eustatius and Saba',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Canada',
 'Cape Verde',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Christmas Island',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 "Côte d'Ivoire",
 'Croatia',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czech Republic',
 'North Korea',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Faeroe Islands',
 'Micronesia (Federated States of)',
 'Fiji',
 'Finland',
 'Panama Canal Zone',
 'France',
 'French Equatorial Africa',
 'French Guiana',
 'French Polynesia',
 'French West Africa',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iraq',
 'Ireland',
 'Iran',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kuwaiti Oil Fires',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Leeward Islands',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao',
 'North Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Norway',
 'Occupied Palestinian Territory',
 'Oman',
 'Pacific Islands (Palau)',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Bolivia',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Cameroon',
 'South Korea',
 'Moldova',
 'South Sudan',
 'Sudan',
 'Réunion',
 'Romania',
 'Russia',
 'Rwanda',
 'Ryukyu Islands',
 'Saint Helena',
 'Saint Lucia',
 'Sint Maarten (Dutch part)',
 'Samoa',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Saint Kitts and Nevis',
 'St. Kitts-Nevis-Anguilla',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'Tanzania',
 'USA',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Viet Nam',
 'Wallis and Futuna Islands',
 'Yemen',
 'Zambia',
 'Zimbabwe',
 'International Transport',
 'Global']

In [177]:
len(countries)

232

In [178]:
pprint(gdp.find_one())

{'1960': '',
 '1961': '',
 '1962': '',
 '1963': '',
 '1964': '',
 '1965': '',
 '1966': '',
 '1967': '',
 '1968': '',
 '1969': '',
 '1970': '',
 '1971': '',
 '1972': '',
 '1973': '',
 '1974': '',
 '1975': '',
 '1976': '',
 '1977': '',
 '1978': '',
 '1979': '',
 '1980': '',
 '1981': '',
 '1982': '',
 '1983': '',
 '1984': '',
 '1985': '',
 '1986': 405463417.11746,
 '1987': 487602457.746416,
 '1988': 596423607.114715,
 '1989': 695304363.031101,
 '1990': 764887117.194486,
 '1991': 872138715.083799,
 '1992': 958463184.357542,
 '1993': 1082979720.67039,
 '1994': 1245688268.15642,
 '1995': 1320474860.3352,
 '1996': 1379960893.85475,
 '1997': 1531944134.07821,
 '1998': 1665100558.65922,
 '1999': 1722798882.68156,
 '2000': 1873452513.96648,
 '2001': 1920111731.84358,
 '2002': 1941340782.12291,
 '2003': 2021229050.27933,
 '2004': 2228491620.11173,
 '2005': 2330726256.98324,
 '2006': 2424581005.58659,
 '2007': 2615083798.88268,
 '2008': 2745251396.64804,
 '2009': 2498882681.56425,
 '2010': 2390502793.29609,
 '2011': 2549720670.39106,
 '2012': 2534636871.50838,
 '2013': 2727849720.67039,
 '2014': 2790849162.01117,
 '2015': 2962905027.93296,
 '2016': 2983636871.50838,
 '2017': 3092430167.59777,
 '2018': 3202188606.92893,
 '2019': '',
 '2020': '',
 'Code': 'ABW',
 'Country Name': 'Aruba',
 'Unnamed: 65': '',
 '_id': ObjectId('66538fe5b7439fbad4327446')}

In [179]:
gdp_query = {}
gdp_fields = {"Country Name", "Code", "1970", "1980", "1990", "2000", "2010", "2020"}

In [180]:
gdp_df = pd.DataFrame(gdp.find(gdp_query, gdp_fields))

gdp_df.head()

,_id,Country Name,Code,1970,1980,1990,2000,2010,2020
0,66538fe5b7439fbad4327446,Aruba,ABW,,,764887117.194486,1873452513.96648,2390502793.29609,
1,66538fe5b7439fbad4327447,Africa Eastern and Southern,AFE,40315782854.298599,156512735720.641998,212336051488.558014,283952504751.697998,847409491176.197021,920792331527.745972
2,66538fe5b7439fbad4327448,Afghanistan,AFG,1748886595.55556,3641723321.99546,,,15856678596.148001,20116137325.820599
3,66538fe5b7439fbad4327449,Africa Western and Central,AFW,23504608014.6703,112031316716.518005,121802185300.139008,140407973778.931,591582966686.496948,784587603322.865967
4,66538fe5b7439fbad432744a,Angola,AGO,,5934073603.54849,11236275842.7358,9129634978.33773,83799496611.200394,58375976292.967796

In [181]:
del gdp_df["_id"]

gdp_df.head()

,Country Name,Code,1970,1980,1990,2000,2010,2020
0,Aruba,ABW,,,764887117.194486,1873452513.96648,2390502793.29609,
1,Africa Eastern and Southern,AFE,40315782854.298599,156512735720.641998,212336051488.558014,283952504751.697998,847409491176.197021,920792331527.745972
2,Afghanistan,AFG,1748886595.55556,3641723321.99546,,,15856678596.148001,20116137325.820599
3,Africa Western and Central,AFW,23504608014.6703,112031316716.518005,121802185300.139008,140407973778.931,591582966686.496948,784587603322.865967
4,Angola,AGO,,5934073603.54849,11236275842.7358,9129634978.33773,83799496611.200394,58375976292.967796

In [182]:
pprint(population.find_one())

{'1970 Population': 10752971,
 '1980 Population': 12486631,
 '1990 Population': 10694796,
 '2000 Population': 19542982,
 '2010 Population': 28189672,
 '2015 Population': 33753499,
 '2020 Population': 38972230,
 '2022 Population': 41128771,
 'Area (km²)': 652230,
 'CCA3': 'AFG',
 'Capital': 'Kabul',
 'Continent': 'Asia',
 'Country/Territory': 'Afghanistan',
 'Density (per km²)': 63.0587,
 'Growth Rate': 1.0257,
 'Rank': 36,
 'World Population Percentage': 0.52,
 '_id': ObjectId('665390023c40ae0fc867eb44')}

In [183]:
population_query = {}
population_fields = {"Country/Territory", "CCA3", "Continent", "1970 Population", "1980 Population", "1990 Population", "2000 Population", "2010 Population", "2020 Population"}

In [184]:
population_df = pd.DataFrame(population.find(population_query, population_fields))

population_df.head()

,_id,CCA3,Country/Territory,Continent,2020 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population
0,665390023c40ae0fc867eb44,AFG,Afghanistan,Asia,38972230,28189672,19542982,10694796,12486631,10752971
1,665390023c40ae0fc867eb45,ALB,Albania,Europe,2866849,2913399,3182021,3295066,2941651,2324731
2,665390023c40ae0fc867eb46,DZA,Algeria,Africa,43451666,35856344,30774621,25518074,18739378,13795915
3,665390023c40ae0fc867eb47,ASM,American Samoa,Oceania,46189,54849,58230,47818,32886,27075
4,665390023c40ae0fc867eb48,AND,Andorra,Europe,77700,71519,66097,53569,35611,19860

In [185]:
del population_df["_id"]

population_df.head()

,CCA3,Country/Territory,Continent,2020 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population
0,AFG,Afghanistan,Asia,38972230,28189672,19542982,10694796,12486631,10752971
1,ALB,Albania,Europe,2866849,2913399,3182021,3295066,2941651,2324731
2,DZA,Algeria,Africa,43451666,35856344,30774621,25518074,18739378,13795915
3,ASM,American Samoa,Oceania,46189,54849,58230,47818,32886,27075
4,AND,Andorra,Europe,77700,71519,66097,53569,35611,19860

In [186]:
population_df = population_df.rename(columns= {"CCA3" : "Code"})

population_df.head()

,Code,Country/Territory,Continent,2020 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population
0,AFG,Afghanistan,Asia,38972230,28189672,19542982,10694796,12486631,10752971
1,ALB,Albania,Europe,2866849,2913399,3182021,3295066,2941651,2324731
2,DZA,Algeria,Africa,43451666,35856344,30774621,25518074,18739378,13795915
3,ASM,American Samoa,Oceania,46189,54849,58230,47818,32886,27075
4,AND,Andorra,Europe,77700,71519,66097,53569,35611,19860

In [187]:
merged_df = pd.merge(population_df, gdp_df, on="Code", how="inner")

merged_df

,Code,Country/Territory,Continent,2020 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Country Name,1970,1980,1990,2000,2010,2020
0,AFG,Afghanistan,Asia,38972230,28189672,19542982,10694796,12486631,10752971,Afghanistan,1748886595.55556,3641723321.99546,,,15856678596.148001,20116137325.820599
1,ALB,Albania,Europe,2866849,2913399,3182021,3295066,2941651,2324731,Albania,,,2028553750.0,3480355258.04122,11926922828.9911,14887629268.2927
2,DZA,Algeria,Africa,43451666,35856344,30774621,25518074,18739378,13795915,Algeria,4863487492.65763,42346380830.770798,62048562947.2509,54790392746.193901,161207270185.25,145009181490.619995
3,ASM,American Samoa,Oceania,46189,54849,58230,47818,32886,27075,American Samoa,,,,,573000000.0,709000000.0
4,AND,Andorra,Europe,77700,71519,66097,53569,35611,19860,Andorra,78619206.085096,446416105.825017,1029048481.88051,1429049198.45218,3449966856.68832,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,TGO,Togo,Africa,8442580,6571855,5008035,3875947,2838110,2197383,Togo,253976626.166639,1136408814.19692,1628427515.41881,1491891107.95711,3429461495.41335,7574636978.66173
210,TON,Tonga,Oceania,105254,107383,102603,98727,96708,86484,Tonga,,53260077.431109,113563821.577404,204849612.592276,366840012.442325,488829964.070819
211,YEM,Yemen,Asia,32284046,24743946,18628700,13375121,9204938,6843607,"Yemen, Rep.",,,5647119229.00763,9652436179.646049,30906749533.221001,
212,ZMB,Zambia,Africa,18927715,13792086,9891136,7686401,5720438,4281671,Zambia,1825285714.28571,3829500000.0,3285217391.30435,3600683039.73254,20265559483.854801,18110631358.311401
213,ZWE,Zimbabwe,Africa,15669666,12839771,11834676,10113893,7049926,5202918,Zimbabwe,1884206300.0,6678868200.0,8783816700.0,6689957600.0,12041655200.0,18051170798.941002

In [188]:
population_df_cleaned = pd.DataFrame(merged_df[["Country/Territory", "Continent", "1970 Population", "1980 Population", "1990 Population", "2000 Population", "2010 Population","2020 Population"]])
population_df_cleaned = population_df_cleaned.rename(columns= {"Country/Territory" : "Country",
                                                               "2020 Population" : "2020",
                                                                "2010 Population" : "2010",
                                                                "2000 Population" : "2000",
                                                                "1990 Population" : "1990",
                                                                "1980 Population" : "1980",
                                                                "1970 Population" : "1970"})

population_df_cleaned.head()

,Country,Continent,1970,1980,1990,2000,2010,2020
0,Afghanistan,Asia,10752971,12486631,10694796,19542982,28189672,38972230
1,Albania,Europe,2324731,2941651,3295066,3182021,2913399,2866849
2,Algeria,Africa,13795915,18739378,25518074,30774621,35856344,43451666
3,American Samoa,Oceania,27075,32886,47818,58230,54849,46189
4,Andorra,Europe,19860,35611,53569,66097,71519,77700

In [189]:
gdp_df_cleaned = pd.DataFrame(merged_df[["Country/Territory", "Continent", "1970", "1980", "1990", "2000", "2010", "2020"]])
gdp_df_cleaned = gdp_df_cleaned.rename(columns= {"Country/Territory" : "Country"})

gdp_df_cleaned.head()

,Country,Continent,1970,1980,1990,2000,2010,2020
0,Afghanistan,Asia,1748886595.55556,3641723321.99546,,,15856678596.148001,20116137325.820599
1,Albania,Europe,,,2028553750.0,3480355258.04122,11926922828.9911,14887629268.2927
2,Algeria,Africa,4863487492.65763,42346380830.770798,62048562947.2509,54790392746.193901,161207270185.25,145009181490.619995
3,American Samoa,Oceania,,,,,573000000.0,709000000.0
4,Andorra,Europe,78619206.085096,446416105.825017,1029048481.88051,1429049198.45218,3449966856.68832,

In [190]:
emissions_json = emissions_df.to_json(orient="records")
gdp_json = gdp_df_cleaned.to_json(orient="records")
population_json = population_df_cleaned.to_json(orient="records")

In [191]:
emissions_parsed = json.loads(emissions_json)
gdp_parsed = json.loads(gdp_json)
population_parsed = json.loads(population_json)

In [192]:
#https://stackoverflow.com/questions/60029873/pandas-to-json-redundant-backslashes
with open("output.json", "w", encoding="utf8") as output:
    output.write(json.dumps({"emissions" : emissions_parsed,
                             "gdp" : gdp_parsed,
                             "population" : population_parsed,
                             "countries" : countries}, indent=4))