In [258]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd
import json

In [259]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [260]:
mongo.list_database_names()

['admin',
 'autosaurus',
 'classDB',
 'config',
 'epa',
 'fruits_db',
 'local',
 'met',
 'petsitly_marketing',
 'project3',
 'uk_food']

In [261]:
db = mongo["project3"]

In [262]:
db.list_collection_names()

['emissions']

In [263]:
emissions = db["emissions"]

In [264]:
pprint(emissions.find_one())

{'Cement': '',
 'Coal': '',
 'Country': 'Afghanistan',
 'Flaring': '',
 'Gas': '',
 'ISO 3166-1 alpha-3': 'AFG',
 'Oil': '',
 'Other': '',
 'Per Capita': '',
 'Total': 0,
 'Year': 1750,
 '_id': ObjectId('664ba42777e6e1a7c4a70a4f')}

In [265]:
yearquery = {"Year" : {"$gte" : 1921},
             "Country" : "Global"}
yearquery_df = pd.DataFrame(emissions.find(yearquery))

In [266]:
yearquery_df = yearquery_df[["Country", "Year", "Total"]]
yearquery_df

    Country  Year         Total
0    Global  1921   3089.464239
1    Global  1922   3239.735891
2    Global  1923   3675.398052
3    Global  1924   3686.099236
4    Global  1926   3659.297161
..      ...   ...           ...
96   Global  2017  36096.739276
97   Global  2018  36826.506600
98   Global  2019  37082.558969
99   Global  2020  35264.085734
100  Global  2021  37123.850352

[101 rows x 3 columns]

In [267]:
yearquery_json = yearquery_df.to_json(orient="records")
print(yearquery_json)

[{"Country":"Global","Year":1921,"Total":3089.464239},{"Country":"Global","Year":1922,"Total":3239.735891},{"Country":"Global","Year":1923,"Total":3675.398052},{"Country":"Global","Year":1924,"Total":3686.099236},{"Country":"Global","Year":1926,"Total":3659.297161},{"Country":"Global","Year":1927,"Total":3993.753845},{"Country":"Global","Year":1925,"Total":3725.636685},{"Country":"Global","Year":1928,"Total":3976.070948},{"Country":"Global","Year":1929,"Total":4267.657053},{"Country":"Global","Year":1931,"Total":3516.940495},{"Country":"Global","Year":1930,"Total":3934.730076},{"Country":"Global","Year":1933,"Total":3338.349367},{"Country":"Global","Year":1932,"Total":3170.800548},{"Country":"Global","Year":1934,"Total":3630.765463},{"Country":"Global","Year":1935,"Total":3811.111732},{"Country":"Global","Year":1937,"Total":4469.369267},{"Country":"Global","Year":1936,"Total":4181.088526},{"Country":"Global","Year":1939,"Total":4445.442684},{"Country":"Global","Year":1940,"Total":4854.657591},{"Country":"Global","Year":1938,"Total":4201.279796},{"Country":"Global","Year":1941,"Total":4965.648694},{"Country":"Global","Year":1942,"Total":4953.623646},{"Country":"Global","Year":1944,"Total":5110.65604},{"Country":"Global","Year":1945,"Total":4250.264318},{"Country":"Global","Year":1943,"Total":5035.077348},{"Country":"Global","Year":1946,"Total":4638.338852},{"Country":"Global","Year":1947,"Total":5138.489949},{"Country":"Global","Year":1948,"Total":5415.709253},{"Country":"Global","Year":1949,"Total":5245.849343},{"Country":"Global","Year":1950,"Total":6003.271922},{"Country":"Global","Year":1951,"Total":6379.796307},{"Country":"Global","Year":1952,"Total":6465.726953},{"Country":"Global","Year":1953,"Total":6647.763209},{"Country":"Global","Year":1954,"Total":6789.968651},{"Country":"Global","Year":1955,"Total":7443.244062},{"Country":"Global","Year":1956,"Total":7924.253363},{"Country":"Global","Year":1957,"Total":8185.546669},{"Country":"Global","Year":1958,"Total":8417.623867},{"Country":"Global","Year":1959,"Total":8856.221171},{"Country":"Global","Year":1960,"Total":9387.668809},{"Country":"Global","Year":1961,"Total":9418.459819},{"Country":"Global","Year":1962,"Total":9751.059139},{"Country":"Global","Year":1963,"Total":10271.654811},{"Country":"Global","Year":1964,"Total":10829.612051},{"Country":"Global","Year":1965,"Total":11317.596095},{"Country":"Global","Year":1966,"Total":11866.933973},{"Country":"Global","Year":1967,"Total":12244.028986},{"Country":"Global","Year":1968,"Total":12910.891931},{"Country":"Global","Year":1969,"Total":13767.398865},{"Country":"Global","Year":1970,"Total":14898.715401},{"Country":"Global","Year":1971,"Total":15505.495811},{"Country":"Global","Year":1972,"Total":16228.729199},{"Country":"Global","Year":1973,"Total":17086.19245},{"Country":"Global","Year":1974,"Total":17017.476156},{"Country":"Global","Year":1975,"Total":17054.627806},{"Country":"Global","Year":1976,"Total":17991.88662},{"Country":"Global","Year":1977,"Total":18502.845238},{"Country":"Global","Year":1978,"Total":19077.192417},{"Country":"Global","Year":1979,"Total":19618.461922},{"Country":"Global","Year":1980,"Total":19501.263339},{"Country":"Global","Year":1981,"Total":19036.118109},{"Country":"Global","Year":1982,"Total":18884.487014},{"Country":"Global","Year":1983,"Total":19006.539624},{"Country":"Global","Year":1985,"Total":20325.486795},{"Country":"Global","Year":1984,"Total":19664.753809},{"Country":"Global","Year":1986,"Total":20627.358491},{"Country":"Global","Year":1987,"Total":21273.904184},{"Country":"Global","Year":1989,"Total":22410.401527},{"Country":"Global","Year":1988,"Total":22107.794982},{"Country":"Global","Year":1990,"Total":22757.480501},{"Country":"Global","Year":1992,"Total":22580.023401},{"Country":"Global","Year":1991,"Total":23244.805747},{"Country":"Global","Year":1993,"Total":22812.899822},{"Country":"Global","Year":1994,"Total":22969.498357},{"Country":"Global","Year":1995,"Total":23458.713064},{"Country":"Global","Year":1996,"Total":24159.382272},{"Country":"Global","Year":1997,"Total":24302.583028},{"Country":"Global","Year":1998,"Total":24213.260513},{"Country":"Global","Year":1999,"Total":24732.388369},{"Country":"Global","Year":2000,"Total":25453.622139},{"Country":"Global","Year":2001,"Total":25668.048326},{"Country":"Global","Year":2002,"Total":26281.037468},{"Country":"Global","Year":2003,"Total":27651.596453},{"Country":"Global","Year":2004,"Total":28636.695037},{"Country":"Global","Year":2005,"Total":29614.602256},{"Country":"Global","Year":2006,"Total":30593.116788},{"Country":"Global","Year":2007,"Total":31506.7892},{"Country":"Global","Year":2008,"Total":32085.836322},{"Country":"Global","Year":2009,"Total":31564.030692},{"Country":"Global","Year":2010,"Total":33364.346496},{"Country":"Global","Year":2011,"Total":34487.011618},{"Country":"Global","Year":2012,"Total":35006.267581},{"Country":"Global","Year":2013,"Total":35319.201624},{"Country":"Global","Year":2014,"Total":35577.534774},{"Country":"Global","Year":2016,"Total":35524.193212},{"Country":"Global","Year":2015,"Total":35558.565735},{"Country":"Global","Year":2017,"Total":36096.739276},{"Country":"Global","Year":2018,"Total":36826.5066},{"Country":"Global","Year":2019,"Total":37082.558969},{"Country":"Global","Year":2020,"Total":35264.085734},{"Country":"Global","Year":2021,"Total":37123.850352}]

In [268]:
parsed = json.loads(yearquery_json)

In [269]:
#https://stackoverflow.com/questions/60029873/pandas-to-json-redundant-backslashes
with open("output.json", "w", encoding="utf8") as output:
    output.write(json.dumps({"data" : parsed}, indent=4))