In [80]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd
import json

In [81]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [82]:
mongo.list_database_names()

['admin',
 'autosaurus',
 'classDB',
 'config',
 'epa',
 'fruits_db',
 'local',
 'met',
 'petsitly_marketing',
 'project3',
 'uk_food']

In [83]:
db = mongo["project3"]

In [84]:
db.list_collection_names()

['emissions']

In [85]:
emissions = db["emissions"]

In [86]:
pprint(emissions.find_one())

{'Cement': '',
 'Coal': '',
 'Country': 'Afghanistan',
 'Flaring': '',
 'Gas': '',
 'ISO 3166-1 alpha-3': 'AFG',
 'Oil': '',
 'Other': '',
 'Per Capita': '',
 'Total': 0,
 'Year': 1750,
 '_id': ObjectId('664ba42777e6e1a7c4a70a4f')}

In [87]:
yearquery = {"Year" : {"$gte" : 1921},
             "Country" : "Global"}
yearquery_df = pd.DataFrame(emissions.find(yearquery))

In [88]:
del yearquery_df["_id"]
del yearquery_df["ISO 3166-1 alpha-3"]
yearquery_df

,Country,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Global,1921,3089.464239,2668.396987,384.258313,34.992309,0.129580,,,1.602529
1,Global,1922,3239.735891,2770.670402,426.345193,40.106976,0.192769,,,1.666300
2,Global,1923,3675.398052,3146.423216,473.526834,52.526095,0.207956,,,1.874001
3,Global,1924,3686.099236,3152.648603,470.811853,59.708798,0.216033,,,1.862817
4,Global,1926,3659.297161,3081.756870,490.648088,69.144490,14.740364,,,1.815862
...,...,...,...,...,...,...,...,...,...,...
96,Global,2017,36096.739276,14506.973805,12242.627935,7144.928128,1507.923185,391.992176,302.294047,4.749682
97,Global,2018,36826.506600,14746.830688,12266.016285,7529.846784,1569.218392,412.115746,302.478706,4.792753
98,Global,2019,37082.558969,14725.978025,12345.653374,7647.528220,1617.506786,439.253991,306.638573,4.775633
99,Global,2020,35264.085734,14174.564010,11191.808551,7556.290283,1637.537532,407.583673,296.301685,4.497423
100,Global,2021,37123.850352,14979.598083,11837.159116,7921.829472,1672.592372,416.525563,296.145746,4.693699

In [89]:
yearquery_json = yearquery_df.to_json()

In [90]:
with open("output.json", "w") as output:
    json.dump(yearquery_json, output)